html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #fafafa;
  text-align: center;
  padding: 6.4% 11.3% 5.42%;
}

@media (max-width: 376px) {
  main {
    padding: 24.5% 8% 20.5%;
  }
}

main .text .service {
  font-size: 2.78vw;
  font-weight: 200;
  color: #a3a5ae;
}

@media (max-width: 376px) {
  main .text .service {
    font-size: 6.9vw;
  }
}

main .text .company {
  font-size: 2.78vw;
  font-weight: 600;
  margin-bottom: 1.74%;
}

@media (max-width: 376px) {
  main .text .company {
    font-size: 6.9vw;
    margin-bottom: 5.9%;
  }
}

main .text .para {
  width: 55%;
  font-size: 1.17vw;
  font-weight: 400;
  color: #a3a5ae;
  margin-bottom: 5.85%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 376px) {
  main .text .para {
    width: 100%;
    font-size: 4vw;
    margin-bottom: 24.51%;
  }
}

main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 376px) {
  main .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .cards .group-card {
  margin: 0 3%;
}

main .cards .group-card .special {
  margin-bottom: 0;
}

@media (max-width: 376px) {
  main .cards .group-card .special {
    margin-bottom: 29px;
  }
}

main .cards .card {
  position: relative;
  width: 21.7vw;
  height: 17vw;
  padding: 33px;
  margin-bottom: 29px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 15px 10px rgba(84, 158, 242, 0.1);
          box-shadow: 2px 15px 10px rgba(84, 158, 242, 0.1);
  text-align: left;
}

@media (max-width: 376px) {
  main .cards .card {
    width: 84vw;
    height: 67vw;
    padding: 28px;
    margin-bottom: 26px;
  }
}

main .cards .card > h3 {
  font-size: 1.25vw;
  font-weight: 600;
  margin-bottom: 4.1%;
}

@media (max-width: 376px) {
  main .cards .card > h3 {
    font-size: 5.87vw;
    margin-bottom: 5%;
  }
}

main .cards .card > p {
  font-size: 0.84vw;
  font-weight: 400;
  color: #a3a5ae;
}

@media (max-width: 376px) {
  main .cards .card > p {
    font-size: 3.14vw;
  }
}

main .cards .card > img {
  position: absolute;
  bottom: 13.6%;
  right: 10.6%;
  width: 20%;
}

@media (max-width: 376px) {
  main .cards .card > img {
    bottom: 11%;
    right: 9%;
    width: 18.4%;
  }
}

main .cards .card-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
}

main .cards .card-line1 {
  background-color: #45d3d3;
}

main .cards .card-line2 {
  background-color: #ea5353;
}

main .cards .card-line3 {
  background-color: #fcaf4a;
}

main .cards .card-line4 {
  background-color: #549ef2;
}
/*# sourceMappingURL=style.css.map */